<div class="container">
  <div *ngIf="isValidated">
    <button (click)="logoutUser()" class="btn logout">Logout</button>
    <br>
    <img class="profile-container rounded-circle img-fluid d-block mx-auto" image-loader src="{{user.imageUrl}}"
      alt-url="assets/images/profile.png">
    <h1 class="text-center">{{user.username}}</h1>
    <ksu-gdc-info-messages #profileUpdateMessages></ksu-gdc-info-messages>
    <ksu-gdc-file-upload btn-text="Choose Profile Image" file-type="image/jpg" [show-upload]="false" (fileChange)="uploadProfileImage($event)"></ksu-gdc-file-upload>
    <form (ngSubmit)="updateUserInfo()" #infoForm="ngForm">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" [ngModel]="user.firstName | sanitizeInput"
          (ngModelChange)="user.firstName=$event" />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" [ngModel]="user.lastName | sanitizeInput"
          (ngModelChange)="user.lastName=$event" />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea type="text" class="form-control" id="description" name="description" [ngModel]="user.description | sanitizeInput"
          (ngModelChange)="user.description=$event"></textarea>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="infoForm.pristine || !infoForm.form.valid">Update</button>
    </form>
    <br>
    <div class="groups-container">
      <div>
        <h3>Groups</h3>
        <!-- <button class="btn btn-success" (click)="openGroupsModal()">Manage</button> -->
      </div>
      <div *ngFor="let group of groups">
        <div>{{group.name}}</div>
      </div>
    </div>
    <br>
    <div class="games-container">
      <div>
        <h3>Games</h3>
        <!-- <button class="btn btn-success" (click)="openGamesModal()">Manage</button> -->
      </div>
      <div *ngFor="let game of portfolio.games">
        <div>{{game.title}}</div>
      </div>
    </div>
    <br>
  </div>
</div>
