#calendar {
  border:solid 5px #000000;
  border-radius:10px;
  width:1000px;
  height:600px;
}

.profile {
  border:solid 3px;
}

.portfolio-tile {
  max-width:350px !important;
  max-height:225px !important;
  width:auto;
  height:auto;
  border:solid 3px #000000;
  border-radius:5px;
}

.portfolio-img {
  width: auto;
  height: auto;
  opacity: 1;
  transition: all .25s;
}

.portfolio-img:hover {
  opacity: 0.5;
}

/*.overlay {
  position: absolute;
  top:38.5%;
  left:20%;
  width: 60%;
  height: 25%;
  pointer-events: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  opacity: 0;
  transition: all .25s;
}*/

.overlay {
  position: absolute;
  top:42%;
  left:20%;
  width: 60%;
  height: 25%;
  pointer-events: none;
  color: black;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  opacity: 0;
  transition: all .25s;
}

.overlay-text {
  position: absolute;
  text-align: center;
  top: 20%;
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.portfolio-img:hover ~ .overlay {
  opacity: 1;
}
