#calendar {
  border:solid 5px #000000;
  border-radius:10px;
  width:1000px;
  height:600px;
}

.profile {
  border:solid 3px;
}

.portfolio-img {
  max-width:350px;
  max-height:225px;
  width:auto;
  height:auto;
  border:solid 3px #000000;
  border-radius:5px;
  transition: transform .25s;
}

.portfolio-img:hover {
  transform:scale(1.05,1.05);
}
