<div *ngIf="!errorOccurred && game">
  <br>
  <button class="btn btn-success" (click)="stopEditing()">Done</button>
  <img class="thumbnail-container img-fluid d-block mx-auto" image-loader src="{{game.imageUrl}}"
    alt-url="assets/images/img-not-available.png">
  <hr class="hr-primary">
  <ksu-gdc-info-messages #gameUpdateMessages></ksu-gdc-info-messages>
  <ksu-gdc-file-upload btn-text="Upload Thumbnail Image" [show-upload]="false"
    (fileChange)="uploadGameImage($event)"></ksu-gdc-file-upload><br>
  <form [formGroup]="gameInfoGroup" (ngSubmit)="updateGameInfo()">
    <div>
      <mat-form-field>
        <input matInput type="text" [formControl]="titleControl" placeholder="Title" />
        <mat-hint align="end">{{titleControl.value.length}} / 100</mat-hint>
        <mat-error *ngIf="titleControl.hasError('required')">Required</mat-error>
        <mat-error *ngIf="titleControl.hasError('maxlength')">Max of 100 characters</mat-error>
      </mat-form-field>
    </div><br>
    <div>
      <mat-form-field>
        <textarea matInput type="text" [formControl]="descriptionControl" placeholder="Description"></textarea>
        <mat-hint align="end">{{descriptionControl.value.length}} / 1000</mat-hint>
        <mat-error *ngIf="descriptionControl.hasError('maxlength')">Max of 1000 characters</mat-error>
      </mat-form-field>
    </div><br>
    <div>
      <mat-form-field>
        <input matInput type="text" [formControl]="hostUrlControl" placeholder="Url to More Info and/or Download" />
        <mat-hint align="end">{{hostUrlControl.value.length}} / 2000</mat-hint>
        <mat-error *ngIf="hostUrlControl.hasError('maxlength')">Max of 2000 characters</mat-error>
      </mat-form-field>
    </div><br>
    <button type="submit" class="btn btn-success" [disabled]="!formIsValid()">Update</button>
  </form>
  <br>
  <div class="users-container">
    <div class="container text-center">
      <div>
        <h3>Collaborators</h3>
        <button class="btn btn-success" (click)="openAddGameUserModal()">Add</button>
      </div>
      <hr class="hr-primary">
      <div *ngIf="!categories.users.loading && categories.users.totalItemCount == 0">0 collaborators have been
        found</div>
      <div class="row">
        <div class="col" *ngFor="let user of categories.users.list">
          <ksu-gdc-member-item [user]="user" [showX]="categories.users.list.length > 1"
            (clicked)="navigateToMemberProfile($event)" (clickedX)="removeCollaborator($event)"></ksu-gdc-member-item>
        </div>
      </div>
      <ksu-gdc-pagination-bar [itemsLoaded]="categories.users.loaded" [totalItemCount]="categories.users.totalItemCount"
        [pageSize]="categories.users.pageSize" (pageChange)="loadPage('groups', $event)"></ksu-gdc-pagination-bar>
    </div>
  </div>
  <br>
</div>
<ksu-gdc-error *ngIf="errorOccurred"></ksu-gdc-error>
