<div *ngIf="!errorOccurred && game">
  <br>
  <button class="btn btn-success" (click)="stopEditing()">Done</button>
  <img class="thumbnail-container img-fluid d-block mx-auto" image-loader src="{{game.imageUrl}}" alt-url="assets/images/img-not-available.png">
  <hr class="hr-primary">
  <ksu-gdc-info-messages #gameUpdateMessages></ksu-gdc-info-messages>
  <ksu-gdc-file-upload btn-text="Upload Thumbnail Image" file-type="image/jpg" [show-upload]="false" (fileChange)="uploadGameImage($event)"></ksu-gdc-file-upload>
  <form (ngSubmit)="updateGameInfo()" #infoForm="ngForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="firstName" name="firstName" [ngModel]="game.title | sanitizeInput"
        (ngModelChange)="game.title=$event" />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="text" class="form-control" id="description" name="description" [ngModel]="game.description | sanitizeInput"
        (ngModelChange)="game.description=$event"></textarea>
    </div>
    <div class="form-group">
      <label for="hostUrl">Link To Game</label>
      <input type="text" class="form-control" id="hostUrl" name="hostUrl" [ngModel]="game.hostUrl | sanitizeInput"
        (ngModelChange)="game.hostUrl=$event" />
    </div>
    <button type="submit" class="btn btn-success" [disabled]="infoForm.pristine || !infoForm.form.valid">Update</button>
  </form>
  <br>
  <div class="users-container">
    <div class="container text-center">
      <div>
        <h3>Collaborators</h3>
        <button class="btn btn-success" (click)="openAddGameUserModal()">Add</button>
      </div>
      <hr class="hr-primary">
      <div *ngIf="!categories.users.loading && categories.users.totalItemCount == 0">0 collaborators have been
        found</div>
      <div class="row">
        <div class="col" *ngFor="let user of categories.users.list">
          <ksu-gdc-member-item [user]="user" [showX]="categories.users.list.length > 0" (clickedX)="removeCollaborator($event)"></ksu-gdc-member-item>
        </div>
      </div>
      <ksu-gdc-pagination-bar [itemsLoaded]="categories.users.loaded" [totalItemCount]="categories.users.totalItemCount"
        [pageSize]="categories.users.pageSize" (pageChange)="loadPage('groups', $event)"></ksu-gdc-pagination-bar>
    </div>
  </div>
  <br>
</div>
<ksu-gdc-error *ngIf="errorOccurred"></ksu-gdc-error>
