<span class="close" (click)="closeModal()">&times;</span>
<div class="container text-center">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="modal-body">
        <h2>{{item?.title}}</h2>
        <hr class="gamepad-primary">
        <div class="row">
          <div class="col">
            <img class="img-fluid img-centered" src="{{item?.imageUrl}}">
          </div>
        </div>
        <br>
        <p>
          {{item?.description}}
        </p>
        <form action={{item?.url}} target="_blank">
          <input class="btn btn-success" type="submit" value="More Info">
        </form>
      </div>
    </div>
  </div>
</div>
