<header class="masthead">
  <div class="container">
    <img class="img-fluid rounded-circle logo-container" src="assets/images/gdclogo.png">
    <div class="intro-text">
      <span class="name">K-State GDC</span>
      <span class="description">
        K-State’s Game Development Club is the club to be in at K-State. We get together every week
        to develop every kind of game imaginable. We welcome all majors and skill levels to join us as we discuss
        aspects of game development, gaming trends, and just about anything else our members want to discuss. To see
        the games we are working on check below.
      </span>
    </div>
  </div>
</header>

<section id="portfolio">
  <div class="container text-center">
    <h2 class="mobile-header text-center">Featured Games</h2>
    <hr class="hr-primary">
    <div class="row">
      <div class="col" *ngFor="let game of games">
        <ksu-gdc-portfolio-item [game]="game"></ksu-gdc-portfolio-item>
      </div>
    </div>
  </div>
</section>

<section class="success" id="about">
  <div class="container">
    <h2 class="mobile-header text-center">Who Are We?</h2>
    <hr class="hr-light">
    <div class="row">
      <div class="col-lg ml-auto">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-6 text-center mb-4">
            <ksu-gdc-officer-profile [officer]="getOfficer('President', 1)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-md-4 col-sm-4 col-6 text-center mb-4">
            <ksu-gdc-officer-profile [officer]="getOfficer('Vice President', 1)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-md-4 col-sm-4 col-6 text-center mb-4">
            <ksu-gdc-officer-profile [officer]="getOfficer('Treasurer', 1)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-md-3 col-sm-3 col-6 text-center mb-4">
            <ksu-gdc-officer-profile [officer]="getOfficer('Secretary', 1)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-md-3 col-sm-3 col-6 text-center mb-4">
            <ksu-gdc-officer-profile [officer]="getOfficer('Website Manager', 1)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-md-3 col-sm-3 col-6 text-center mb-4">
            <ksu-gdc-officer-profile [officer]="getOfficer('Social Media Manager', 1)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-md-3 col-sm-3 col-6 text-center mb-4">
            <ksu-gdc-officer-profile [officer]="getOfficer('Industry Liaison', 1)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-md-3 col-sm-3 col-6 text-center mb-4">
            <ksu-gdc-officer-profile [officer]="getOfficer('Industry Liaison', 2)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-md-3 col-sm-3 col-6 text-center mb-4">
            <ksu-gdc-officer-profile [officer]="getOfficer('Event Coordinator', 1)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-md-3 col-sm-3 col-6 text-center mb-4">
            <ksu-gdc-officer-profile [officer]="getOfficer('Recruitment and Retention Officer', 1)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-md-3 col-sm-3 col-12 text-center mb-4">
            <ksu-gdc-officer-profile [officer]="getOfficer('Advisor', 1)"></ksu-gdc-officer-profile>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
