$color: #fff;
$bg: #2C3E50;

.btn-social {
  font-size: 25px;
  line-height: 47px;
  display: inline-block;
  width: 53px;
  height: 53px;
  color: $color;
  text-align: center;
  border: 2px solid $color;
  border-radius: 100%
}

.btn-social:hover {
  color: $bg;
  background: $color;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .2s;
}

footer {
  color: $color;
  background: $bg;
}

.footer-above {
  border: none;
  background: $bg;
  padding-top: 40px;
  padding-bottom: 40px;
}
