<ksu-gdc-page-header></ksu-gdc-page-header>
<header class="masthead">
  <div class="container">
    <img class="img-fluid rounded-circle logo-container" src="assets/images/gdclogo.png">
    <div class="intro-text">
      <span class="name">K-State GDC</span>
      <span class="skills">K-State’s Game Development Club is the club to be in at K-State. We get together every week to develop every kind of
        game imaginable. We welcome all majors and skill levels to join us as we discuss aspects of game development, gaming
        trends, and just about anything else our members want to discuss. To see the games we are working on check below.</span>
    </div>
  </div>
</header>

<section id="portfolio">
  <div class="container text-center">
    <h2 class="mobile-header text-center">Featured Games</h2>
    <hr class="gamepad-primary">
    <div class="row">

    </div>
  </div>
</section>

<section class="success" id="about">
  <div class="container">
    <h2 class=" mobile-header text-center">About</h2>
    <hr class="gamepad-light">
    <div class="row">
      <div class="col-lg ml-auto">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-6 text-center mb-4">
            <img class="profile-container rounded-circle img-fluid d-block mx-auto" src="assets/images/officers/lauren.png">
            <h3 class="profile-text">Lauren Lynch
              <br>
              <small>President</small>
            </h3>
          </div>
          <div class="col-md-6 col-sm-6 col-6 text-center mb-4">
            <img class="profile-container rounded-circle img-fluid d-block mx-auto" src="assets/images/officers/nathanb.png">
            <h3 class="profile-text">Nathan Bean
              <br>
              <small>Advisor</small>
            </h3>
          </div>
          <div class="col-md-4 col-sm-4 col-6 text-center mb-4">
            <img class="profile-container rounded-circle img-fluid d-block mx-auto" src="assets/images/officers/carson.png">
            <h3 class="profile-text">Carson Holt
              <br>
              <small>Vice President</small>
            </h3>
          </div>
          <div class="col-md-4 col-sm-4 col-6 text-center mb-4">
            <img class="profile-container rounded-circle img-fluid d-block mx-auto" src="assets/images/profile.png">
            <h3 class="profile-text">Steven Zwahl
              <br>
              <small>Treasurer</small>
            </h3>
          </div>
          <div class="col-md-4 col-sm-4 col-6 text-center mb-4">
            <img class="profile-container rounded-circle img-fluid d-block mx-auto" src="assets/images/officers/nathanm.png">
            <h3 class="profile-text">Nathan McClain
              <br>
              <small>Event Manager</small>
            </h3>
          </div>
          <div class="col-md-4 col-sm-4 col-6 text-center mb-4">
            <img class="profile-container rounded-circle img-fluid d-block mx-auto" src="assets/images/officers/jesse.png">
            <h3 class="profile-text">Jesse Molenda
              <br>
              <small>Industry Liaison</small>
            </h3>
          </div>
          <div class="col-md-4 col-sm-4 col-6 text-center mb-4">
            <img class="profile-container rounded-circle img-fluid d-block mx-auto" src="assets/images/officers/dayton.png">
            <h3 class="profile-text">Dayton Taylor
              <br>
              <small>Website Manager</small>
            </h3>
          </div>
          <div class="col-md-4 col-sm-4 col-6 text-center mb-4">
            <img class="profile-container rounded-circle img-fluid d-block mx-auto" src="assets/images/officers/kyle.png">
            <h3 class="profile-text">Kyle Ingram
              <br>
              <small>Social Media Manager</small>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ksu-gdc-page-footer></ksu-gdc-page-footer>
