<ksu-gdc-page-header></ksu-gdc-page-header>
<header class="masthead">
  <div class="container">
    <img class="img-fluid rounded-circle logo-container" src="assets/images/gdclogo.png">
    <div class="intro-text">
      <span class="name">K-State GDC</span>
      <span class="skills">K-State’s Game Development Club is the club to be in at K-State. We get together every week to develop every kind of
        game imaginable. We welcome all majors and skill levels to join us as we discuss aspects of game development, gaming
        trends, and just about anything else our members want to discuss. To see the games we are working on check below.</span>
    </div>
  </div>
</header>

<section id="portfolio">
  <div class="container text-center">
    <h2 class="mobile-header text-center">Featured Games</h2>
    <hr class="gamepad-primary">
    <div class="row">

    </div>
  </div>
</section>

<section class="success" id="about">
  <div class="container">
    <h2 class=" mobile-header text-center">Who Are We?</h2>
    <hr class="gamepad-light">
    <div class="row">
      <div class="col-lg ml-auto">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-6 text-center mb-4">
            <ksu-gdc-officer-profile [position]="'President'"></ksu-gdc-officer-profile>
          </div>
          <div class="col-md-6 col-sm-6 col-6 text-center mb-4">
            <ksu-gdc-officer-profile [position]="'Advisor'"></ksu-gdc-officer-profile>
          </div>
          <div class="col-md-4 col-sm-4 col-6 text-center mb-4">
            <ksu-gdc-officer-profile [position]="'Vice President'"></ksu-gdc-officer-profile>
          </div>
          <div class="col-md-4 col-sm-4 col-6 text-center mb-4">
              <ksu-gdc-officer-profile [position]="'Treasurer'"></ksu-gdc-officer-profile>
          </div>
          <div class="col-md-4 col-sm-4 col-6 text-center mb-4">
              <ksu-gdc-officer-profile [position]="'Event Manager'"></ksu-gdc-officer-profile>
          </div>
          <div class="col-md-4 col-sm-4 col-6 text-center mb-4">
              <ksu-gdc-officer-profile [position]="'Industry Liaison'"></ksu-gdc-officer-profile>
          </div>
          <div class="col-md-4 col-sm-4 col-6 text-center mb-4">
              <ksu-gdc-officer-profile [position]="'Website Manager'"></ksu-gdc-officer-profile>
          </div>
          <div class="col-md-4 col-sm-4 col-6 text-center mb-4">
              <ksu-gdc-officer-profile [position]="'Social Media Manager'"></ksu-gdc-officer-profile>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ksu-gdc-page-footer></ksu-gdc-page-footer>
