<br>
<div class="container text-center">
  <h1>K-State Annual Game Jam</h1>
  <h3>February 8-10, 2019</h3>
  <br>
  <div class="participation-countdown">
    <ksu-gdc-countdown-timer targetDate="February 8, 2019 5:00 PM" (expired)="stopParticipation()"></ksu-gdc-countdown-timer>
  </div>
  <button class="btn btn-success" [disabled]="!participantsCanSignUp" (click)="openParticipantSignup()">Participate</button>
</div>
<br>
<br>
<div class="text-center">
  <h2>Sponsors</h2>
  <hr class="hr-primary">
  <h4>Underwriter</h4>
  <div class="row">
    <div class="col">
      <img class="sponsor-underwriter-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Epic_Games_logo.svg/1200px-Epic_Games_logo.svg.png"
        alt="Epic Games">
    </div>
  </div>
</div>
<br>
