<div *ngIf="!errorOccurred && user">
  <br>
  <button *ngIf="canEdit()" class="btn btn-success" (click)="editUser()">Edit</button>
  <img class="profile-container rounded-circle img-fluid d-block mx-auto" image-loader src="{{user?.imageUrl}}" alt-url="assets/images/profile.png">
  <h1 class="text-center">{{user?.username}}</h1>
  <hr class="hr-primary">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" [ngModel]="user?.firstName" readonly />
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" [ngModel]="user?.lastName" readonly />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea type="text" class="form-control" id="description" name="description" [ngModel]="user?.description"
      readonly></textarea>
  </div>
  <br>
  <div class="games-container">
    <div class="container text-center">
      <div>
        <h3>Games</h3>
      </div>
      <hr class="hr-primary">
      <div *ngIf="!categories.games.loading && categories.games.totalItemCount == 0">0 games have been
        found</div>
      <div class="row">
        <div class="col" *ngFor="let game of categories.games.list">
          <div>{{game.title}}</div>
        </div>
      </div>
      <ksu-gdc-pagination-bar [itemsLoaded]="categories.games.loaded" [totalItemCount]="categories.games.totalItemCount"
        [pageSize]="categories.games.pageSize" (pageChange)="loadPage('games', $event)"></ksu-gdc-pagination-bar>
    </div>
  </div>
  <br>
</div>
<ksu-gdc-error *ngIf="errorOccurred"></ksu-gdc-error>
