<div *ngIf="!errorOccurred && user">
  <br>
  <button class="btn btn-success" (click)="stopEditing()">Done</button>
  <img class="profile-container rounded-circle img-fluid d-block mx-auto" image-loader src="{{user.imageUrl}}"
    alt-url="assets/images/profile.png">
  <h1 class="text-center">{{user.username}}</h1>
  <hr class="hr-primary">
  <ksu-gdc-info-messages></ksu-gdc-info-messages>
  <ksu-gdc-file-upload btn-text="Upload Profile Image" [show-upload]="false"
    (fileChange)="uploadProfileImage($event)"></ksu-gdc-file-upload><br>
  <form [formGroup]="userInfoGroup" (ngSubmit)="updateUserInfo()">
    <div>
      <mat-form-field>
        <input matInput type="text" [formControl]="firstNameControl" placeholder="First Name" />
        <mat-hint align="end">{{firstNameControl.value.length}} / 50</mat-hint>
        <mat-error *ngIf="firstNameControl.hasError('required')">Required</mat-error>
        <mat-error *ngIf="firstNameControl.hasError('maxlength')">Max of 50 characters</mat-error>
      </mat-form-field>
    </div><br>
    <div>
      <mat-form-field>
        <input matInput type="text" [formControl]="lastNameControl" placeholder="Last Name" />
        <mat-hint align="end">{{lastNameControl.value.length}} / 50</mat-hint>
        <mat-error *ngIf="lastNameControl.hasError('required')">Required</mat-error>
        <mat-error *ngIf="lastNameControl.hasError('maxlength')">Max of 50 characters</mat-error>
      </mat-form-field>
    </div><br>
    <div>
      <mat-form-field>
        <textarea matInput type="text" [formControl]="descriptionControl" placeholder="Description"></textarea>
        <mat-hint align="end">{{descriptionControl.value.length}} / 500</mat-hint>
        <mat-error *ngIf="descriptionControl.hasError('maxlength')">Max of 50 characters</mat-error>
      </mat-form-field>
    </div><br>
    <button type="submit" class="btn btn-success" [disabled]="!userInfoIsValid()">Update</button>
  </form>
  <br>
  <div class="games-container">
    <div class="container text-center">
      <div>
        <h3>Games</h3>
        <button class="btn btn-success" (click)="openGameCreationModal()">Create New</button>
      </div>
      <hr class="hr-primary">
      <div *ngIf="!categories.games.loading && categories.games.totalItemCount == 0">0 games have been
        found</div>
      <div class="row">
        <div class="col" *ngFor="let game of categories.games.list">
          <ksu-gdc-portfolio-item [item]="game" (clicked)="navigateToPortfolioItemPage($event)">
          </ksu-gdc-portfolio-item>
        </div>
      </div>
      <ksu-gdc-pagination-bar [itemsLoaded]="categories.games.loaded" [totalItemCount]="categories.games.totalItemCount"
        [pageSize]="categories.games.pageSize" (pageChange)="loadPage('groups', $event)"></ksu-gdc-pagination-bar>
    </div>
  </div>
  <br>
</div>
<ksu-gdc-error *ngIf="errorOccurred"></ksu-gdc-error>
