<div class="portfolio-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- <h2>{{title}}</h2> -->
              <hr class="gamepad-primary">
              <div class="row">
                <!-- <div class="col">
                  <img class="img-fluid img-centered" src="media/portfolio/Operation Inundation/opinun.png">
                </div>
                <div class="col">
                  <img class="img-fluid img-centered" src="media/portfolio/Operation Inundation/opinun1.png">
                </div>
                <div class="col">
                  <img class="img-fluid img-centered" src="media/portfolio/Operation Inundation/opinun2.png">
                </div>
                <div class="col">
                  <img class="img-fluid img-centered" src="media/portfolio/Operation Inundation/opinun3.png">
                </div>
                <div class="col">
                  <img class="img-fluid img-centered" src="media/portfolio/Operation Inundation/opinun4.png">
                </div> -->
              </div>
              <p>
                <!-- {{description}} -->
              </p>
              <!-- <form action={{link}} target="_blank">
                <input class="btn btn-success" type="submit" value="More Info">
              </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
