<div id="alert" class="alert-box">
    <div class="container">
      <button id="alert1-close" class="close alert-box-close" aria-label="Close">&times;</button>
      <div>
        <div class="container text-center alert-title">
          Upcoming Events!
        </div>
        <div class="container text-center alert-description">
          KSU GDC Beta Test Bash
          <br>
          Members! Let use play your games!
        </div>
        <div class="container text-center">
          <a href="./signup" target="_blank" class="signup-alert-link alert-link">Submit your game</a>
        </div>
      </div>
    </div>
  </div>
