<header class="masthead">
  <div class="container">
    <img class="img-fluid rounded-circle logo-container" src="assets/images/gdclogo.png">
    <div class="intro-text">
      <span class="name">K-State GDC</span>
      <span class="description">
        K-State’s Game Development Club is the club to be in at K-State. We get together every week
        to develop every kind of game imaginable. We welcome all majors and skill levels to join us as we discuss
        aspects of game development, gaming trends, and just about anything else our members want to discuss. To see
        the games we are working on check below.
      </span>
    </div>
  </div>
</header>

<section id="featured">
  <div class="container text-center">
    <h2 class="mobile-header text-center">Featured</h2>
    <button class="btn btn-success" [class.active]="featuredInfo.category === 'games'" (click)="changeFeaturedCategory('games')">Games</button>
    <div *ngIf="featuredInfo.category !== ''">
      <hr class="hr-primary">
      <div *ngIf="featuredInfo.category === 'games'" class="row">
        <div class="col" *ngIf="!featuredItemsLoading && featuredLists.get('games').length == 0">There are currently 0
          games being featured</div>
        <div class="col" *ngFor="let game of featuredLists.get('games')">
          "{{game.title}}"
        </div>
      </div>
      <ksu-gdc-pagination *ngIf="featuredCategoryLoaded" [totalItemCount]="featuredInfo.totalItemCount" [pageSize]="featuredInfo.pageSize"
        (pageChange)="changeFeaturedPage($event)"></ksu-gdc-pagination>
    </div>
  </div>
</section>

<section class="success" id="about">
  <div class="container">
    <h2 class="mobile-header text-center">Meet the Team</h2>
    <hr class="hr-light">
    <div class="row">
      <div class="col-lg ml-auto">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-6 text-center mb-4">
            <ksu-gdc-officer-profile position="President" [officer]="getOfficer('President', 0)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-lg-4 col-sm-6 col-6 text-center mb-4">
            <ksu-gdc-officer-profile position="Vice President" [officer]="getOfficer('Vice President', 0)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-lg-4 col-sm-4 col-6 text-center mb-4">
            <ksu-gdc-officer-profile position="Treasurer" [officer]="getOfficer('Treasurer', 0)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-lg-3 col-sm-4 col-6 text-center mb-4">
            <ksu-gdc-officer-profile position="Secretary" [officer]="getOfficer('Secretary', 0)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-lg-3 col-sm-4 col-6 text-center mb-4">
            <ksu-gdc-officer-profile position="Website Manager" [officer]="getOfficer('Website Manager', 0)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-lg-3 col-sm-4 col-6 text-center mb-4">
            <ksu-gdc-officer-profile position="Social Media Manager" [officer]="getOfficer('Social Media Manager', 0)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-lg-3 col-sm-4 col-6 text-center mb-4">
            <ksu-gdc-officer-profile position="Industry Liaison" [officer]="getOfficer('Industry Liaison', 0)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-lg-3 col-sm-4 col-6 text-center mb-4">
            <ksu-gdc-officer-profile position="Industry Liaison" [officer]="getOfficer('Industry Liaison', 1)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-lg-3 col-sm-4 col-6 text-center mb-4">
            <ksu-gdc-officer-profile position="Event Coordinator" [officer]="getOfficer('Event Coordinator', 0)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-lg-3 col-sm-4 col-6 text-center mb-4">
            <ksu-gdc-officer-profile position="Recruitment and Retention Officer" [officer]="getOfficer('Recruitment and Retention Officer', 0)"></ksu-gdc-officer-profile>
          </div>
          <div class="col-lg-3 col-sm-4 col-12 text-center mb-4">
            <ksu-gdc-officer-profile position="Advisor" [officer]="getOfficer('Advisor', 0)"></ksu-gdc-officer-profile>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
