@import "src/styles.scss";

.profile-container {
  border: solid 3px $ksu-gdc-blue;
  width: 250px;
  height: 250px;
}

mat-form-field.mat-form-field {
  width: 100%;

  input {
    font-size: 18px;
  }

  textarea {
    font-size: 18px;
  }
}
